$black: #1f1f1f;
$gray: #333333;
$gray-light: #444746;
$gray-light-2: #5f6368;

$blue: #1890ff;
$blue-light: #e6f7ff;

$line-green: #06c755;
$line-green-light: #60d491;

$fb-blue: #1877f2;
$fb-blue-light: #6fa8f3;

$page-bg: #f6f8fc;
